.nav{
  /*   border:1px solid black; */
  position: fixed;
  min-width: 250px;
  min-height: 100vh;
  padding-bottom: 32px;
}

.loginUser {
  padding-left: 32px;
  img {
    width: 40px;
    height: 40px;
  }
}